controllers:
  jellyfin:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      jellyfin:
        image:
          repository: lscr.io/linuxserver/jellyfin
          tag: 10.11.5@sha256:313571f253bf1035809f6856bb063904456226ef3899b96e60ee4597b3477246
        env:
          PUID: "99"
          PGID: "100"
          UMASK: "022"
          TZ: Europe/Amsterdam
          JELLYFIN_PublishedServerUrl: https://jellytest.atoca.house
          DOCKER_MODS: linuxserver/mods:jellyfin-amd
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 8096
              initialDelaySeconds: 30
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: true
          readOnlyRootFilesystem: false
          capabilities:
            add: ["SETUID", "SETGID", "CHOWN", "FOWNER"]
            drop: ["ALL"]
        resources:
          requests:
            cpu: 100m
          limits:
            cpu: "4"
            memory: 1Gi

defaultPodOptions:
  securityContext:
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

serviceMonitor:
  jellyfin:
    serviceName: jellyfin
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 10s

service:
  jellyfin:
    controller: jellyfin
    ports:
      http:
        port: *port
      dlna:
        port: 1900
        protocol: UDP

route:
  jellyfin:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - jellytest.atoca.house
    rules:
      - backendRefs:
          - name: jellyfin
            port: 8096
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 10Gi
    globalMounts:
      - path: /config

  media:
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data/media
    globalMounts:
      - path: /data/media

  dri:
    enabled: true
    type: hostPath
    hostPath: /dev/dri
    globalMounts:
      - path: /dev/dri

  kfd:
    enabled: true
    type: hostPath
    hostPath: /dev/kfd
    globalMounts:
      - path: /dev/kfd

  cache:
    type: emptyDir
    sizeLimit: 10Gi
    globalMounts:
      - path: /cache
  transcode:
    enabled: true
    type: emptyDir
    #medium: "Memory"
    sizeLimit: 10Gi
    globalMounts:
      - path: /transcode
  tmp:
    type: emptyDir
    sizeLimit: 10Gi
    globalMounts:
      - path: /tmp
