apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
spec:
  destination:
    namespace: envoy-gateway-system
    server: https://kubernetes.default.svc
  project: infra
  sources:
    - chart: envoyproxy/gateway-helm
      repoURL: oci://registry-1.docker.io
      targetRevision: 1.4.5
      helm:
        releaseName: envoy-gateway
        valueFiles:
          - $values/infra/helm/envoy-gateway/values.yaml
    - repoURL: 'https://github.com/guilhermewolf/atoca.house'
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
