apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
spec:
  project: infra
  destination:
    namespace: envoy-gateway-system
    server: https://kubernetes.default.svc
  sources:
    - repoURL: registry-1.docker.io/envoyproxy
      chart: gateway-helm
      targetRevision: v1.5.4
      helm:
        releaseName: envoy-gateway
        valueFiles:
          - $values/infra/helm/envoy-gateway/values.yaml
    - repoURL: 'https://github.com/guilhermewolf/atoca.house'
      targetRevision: HEAD
      ref: values
    - repoURL: 'https://github.com/guilhermewolf/atoca.house'
      targetRevision: HEAD
      path: infra/helm/envoy-gateway
      directory:
        exclude: '{application.yaml,values.yaml}'
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
