leaderElect: true
serviceMonitor:
  enabled: true
grafanaDashboard:
  enabled: true
webhook:
  replicaCount: 2
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
