controllers:
  filebrowser:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      filebrowser:
        image:
          repository: ghcr.io/gtsteffaniak/filebrowser
          tag: 1.1.3-stable@sha256:abeda80a5b3618f45a343c2518260f66166005404a09231ec2c8c2c0619a2c99
          pullPolicy: IfNotPresent
        env:
          FILEBROWSER_CONFIG: /config/config.yaml
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 2Gi
            cpu: 1000m
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
    pod:
      securityContext:
        runAsUser: 99
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
        seccompProfile:
          type: RuntimeDefault

service:
  filebrowser:
    controller: filebrowser
    ports:
      http:
        primary: true
        port: 80
        targetPort: 8080
        protocol: HTTP
route:
  filebrowser:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-external
        namespace: kube-system
    annotations:
      gatus.home-operations.com/endpoint: |-
        conditions: ["[STATUS] == 200"]
    hostnames:
      - filebrowser.atoca.house
    rules:
      - backendRefs:
          - name: filebrowser
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  config:
    type: secret
    name: filebrowser-secret
    globalMounts:
      - path: /config
        readOnly: true

  database:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /home/filebrowser/database

  cache:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
    globalMounts:
      - path: /home/filebrowser/tmp

  media:
    enabled: true
    type: nfs
    server: nas.internal
    path: /mnt/user/media
    globalMounts:
      - path: /mnt/media
        readOnly: false
