controllers:
  fusion:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      fusion:
        image:
          repository: ghcr.io/0x2e/fusion
          tag: 1.0.0@sha256:7e411d0b9d7e44cd518367b01d9ce52229fd12f464ced929baad5dad617e38d3
          pullPolicy: IfNotPresent
        env:
          PORT: &port 80
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
          limits:
            memory: 128Mi

service:
  fusion:
    controller: fusion
    ports:
      http:
        port: *port

route:
  fusion:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - fusion.atoca.house
    rules:
      - backendRefs:
          - name: fusion
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  fusion:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /data
