apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-pguser-terraform
  namespace: arc-runners
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: crunchy-postgres-cluster-store
    kind: ClusterSecretStore
  target:
    name: postgres-pguser-terraform
    creationPolicy: Owner
  data:
    - secretKey: PG_CONN_STR
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: postgres-pguser-terraform
        metadataPolicy: None
        property: pgbouncer-uri
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: opentofu-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: opentofu-secrets
    template:
      data:
        TF_VAR_account_id: "{{ .TF_VAR_ACCOUNT_ID }}"
        TF_VAR_cloudflare_api_token: "{{ .TF_VAR_CLOUDFLARE_API_TOKEN }}"
        TF_VAR_domain: "{{ .TF_VAR_DOMAIN }}"
        TF_VAR_npm_ip: "{{ .TF_VAR_NPM_IP }}"
        TF_VAR_zone_id: "{{ .TF_VAR_ZONE_ID }}"
  dataFrom:
    - extract:
        key: opentofu-secrets
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
