apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-pguser-terraform
  namespace: arc-runners
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: crunchy-postgres-cluster-store
    kind: ClusterSecretStore
  target:
    name: postgres-pguser-terraform
    creationPolicy: Owner
  data:
    - secretKey: PG_CONN_STR
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: postgres-pguser-terraform
        metadataPolicy: None
        property: pgbouncer-uri
