apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-pguser-terraform
  namespace: arc-runners
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: crunchy-postgres-cluster-store
    kind: ClusterSecretStore
  target:
    name: postgres-pguser-terraform
    creationPolicy: Owner
  data:
    - secretKey: PG_CONN_STR
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: postgres-pguser-terraform
        metadataPolicy: None
        property: pgbouncer-uri
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-pat
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: github-pat
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      data:
        github_token: "{{ .github_token }}"
  dataFrom:
    - extract:
        key: github-token-arc
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
