---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-configmap
  namespace: gatus
data:
  config.yaml: |
    connectivity:
      checker:
        target: 1.1.1.1:53
        interval: 1m

    endpoints:
      - name: Cloudflare
        group: connectivity
        url: icmp://1.1.1.1
        interval: 1m
        conditions:
          - "[CONNECTED] == true"

      - name: Google
        group: connectivity
        url: icmp://8.8.8.8
        interval: 1m
        conditions:
          - "[CONNECTED] == true"

      - name: Quad9
        group: connectivity
        url: icmp://9.9.9.9
        interval: 1m
        conditions:
          - "[CONNECTED] == true"

    metrics: true

    storage:
      type: sqlite
      caching: true
      path: ${GATUS_CONFIG_PATH}/gatus.db

    ui:
      title: Status | Gatus
      header: Status
      logo: https://raw.githubusercontent.com/guilhermewolf/atoca.house/refs/heads/main/docs/assets/atoca-house.png
      link: https://github.com/guilhermewolf
      buttons:
        - name: Github
          link: https://github.com/guilhermewolf
        - name: Homelab
          link: https://github.com/guilhermewolf/atoca.house

    web:
      port: ${GATUS_WEB_PORT}
