---
runtimeClassName: nvidia
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: extensions.talos.dev/nvidia-container-toolkit-production
              operator: Exists
config:
  map:
    default: |-
      version: v1
      sharing:
        timeSlicing:
          renameByDefault: false
          resources:
            - name: nvidia.com/gpu
              replicas: 8
