controllers:
  server:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      server:
        image:
          repository: docker.io/twentycrm/twenty
          tag: v1.16.1@sha256:a8726469719ae78db75ecc163fb110137d5d52c2e33b6ce162b032ba8e9b33af
          pullPolicy: Always
        env:
          NODE_PORT: &port 3000
          NODE_TLS_REJECT_UNAUTHORIZED: "0"
          SERVER_URL: https://twenty.atoca.house
          REDIS_URL: "redis://twenty-redis.twenty.svc.cluster.local:6379"
          SING_IN_PREFILLED: "false"
          ACCESS_TOKEN_EXPIRES_IN: "7d"
          LOGIN_TOKEN_EXPIRES_IN: "1h"
          STORAGE_TYPE: local
          STORAGE_LOCAL_PATH: .local-storage
        envFrom:
          - secretRef:
              name: twenty-db-secret
          - secretRef:
              name: twenty-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: *port
              initialDelaySeconds: 90
              periodSeconds: 10
              timeoutSeconds: 5
              failureThreshold: 6
          readiness: *probes
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi

  worker:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      worker:
        image:
          repository: docker.io/twentycrm/twenty
          tag: v1.16.1@sha256:a8726469719ae78db75ecc163fb110137d5d52c2e33b6ce162b032ba8e9b33af
          pullPolicy: Always
        command:
          - yarn
          - worker:prod
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: "0"
          SERVER_URL: https://twenty.atoca.house
          REDIS_URL: "redis://twenty-redis.twenty.svc.cluster.local:6379"
          DISABLE_DB_MIGRATIONS: "false"
          STORAGE_TYPE: local
          TZ: Europe/Amsterdam
        envFrom:
          - secretRef:
              name: twenty-db-secret
          - secretRef:
              name: twenty-secret
        resources:
          requests:
            cpu: 250m
            memory: 1Gi
          limits:
            cpu: 1000m
            memory: 2Gi

  redis:
    replicas: 1
    containers:
      redis:
        image:
          repository: docker.io/redis/redis-stack-server
          tag: 7.4.0-v8@sha256:39adcbb083b240642cd5738a75c4959c0393ef2a40fa545f2e1c7b55798eeda4
          pullPolicy: Always
        args:
          - --maxmemory-policy
          - noeviction
        probes:
          liveness: &redis-probes
            enabled: true
            custom: true
            spec:
              exec:
                command:
                  - redis-cli
                  - ping
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *redis-probes
        resources:
          requests:
            cpu: 250m
            memory: 1Gi
          limits:
            cpu: 500m
            memory: 2Gi

service:
  server:
    controller: server
    sessionAffinity: ClientIP
    sessionAffinityConfig:
      clientIP:
        timeoutSeconds: 10800
    ports:
      http:
        port: *port

  redis:
    controller: redis
    ports:
      redis:
        port: 6379

route:
  twenty:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - twenty.atoca.house
    rules:
      - backendRefs:
          - name: twenty-server
            port: 3000
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  storage:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 10Gi
    advancedMounts:
      server:
        server:
          - path: /app/packages/twenty-server/.local-storage
  docker-data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    advancedMounts:
      server:
        server:
          - path: /app/docker-data
