controllers:
  server:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      server:
        image:
          repository: docker.io/twentycrm/twenty
          tag: v1.15
          pullPolicy: Always
        env:
          NODE_PORT: &port 3000
          NODE_TLS_REJECT_UNAUTHORIZED: "0"
          SERVER_URL: https://twenty.atoca.house
          REDIS_URL: "redis://dragonfly.dragonfly-cluster.svc.cluster.local:6379"
          SING_IN_PREFILLED: "false"
          ACCESS_TOKEN_EXPIRES_IN: "7d"
          LOGIN_TOKEN_EXPIRES_IN: "1h"
          STORAGE_TYPE: local
          STORAGE_LOCAL_PATH: .local-storage
          IS_MULTIWORKSPACE_ENABLED: true
        envFrom:
          - secretRef:
              name: twenty-db-secret
          - secretRef:
              name: twenty-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: *port
              initialDelaySeconds: 90
              periodSeconds: 10
              timeoutSeconds: 5
              failureThreshold: 6
          readiness: *probes
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi

  worker:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      worker:
        image:
          repository: docker.io/twentycrm/twenty
          tag: v1.15
          pullPolicy: Always
        command:
          - yarn
          - worker:prod
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: "0"
          SERVER_URL: https://twenty.atoca.house
          REDIS_URL: "redis://dragonfly.dragonfly-cluster.svc.cluster.local:6379"
          DISABLE_DB_MIGRATIONS: "false"
          STORAGE_TYPE: local
        envFrom:
          - secretRef:
              name: twenty-db-secret
          - secretRef:
              name: twenty-secret
        resources:
          requests:
            cpu: 250m
            memory: 1Gi
          limits:
            cpu: 1000m
            memory: 2Gi

service:
  server:
    controller: server
    sessionAffinity: ClientIP
    sessionAffinityConfig:
      clientIP:
        timeoutSeconds: 10800
    ports:
      http:
        port: *port

route:
  twenty:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - twenty.atoca.house
    rules:
      - backendRefs:
          - name: twenty
            port: 3000
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  storage:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 10Gi
    advancedMounts:
      server:
        server:
          - path: /app/packages/twenty-server/.local-storage
  docker-data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    advancedMounts:
      server:
        server:
          - path: /app/docker-data
