serviceAccount:
  create: true
  name: external-dns

rbac:
  create: true

provider:
  name: cloudflare

podAnnotations:
  secret.reloader.stakater.com/reload: externaldns-cloudflare-secrets

policy: sync

env:
  - name: CF_API_KEY
    valueFrom:
      secretKeyRef:
        name: cloudflare-ed-key
        key: cloudflare_api_key
  - name: CF_API_EMAIL
    valueFrom:
      secretKeyRef:
        name: cloudflare-email
        key: cloudflare-email
sources:
  - gateway-httproute
  - crd
domainFilters:
  - atoca.house

triggerLoopOnEvent: true
txtOwnerId: main
txtPrefix: "k8s."

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

metrics:
  enabled: true
serviceMonitor:
  enabled: true
