controllers:
  nzbget:
    containers:
      nzbget:
        image:
          repository: ghcr.io/home-operations/nzbget
          tag: 25.4.0@sha256:7afaa93e1992f86a033a310eb0f012f1e4c6bd406caa608146df951e85298ff1
        env:
          NZBGET__PORT: &port 80
          TZ: Europe/Amsterdam
        # probes:
        #   liveness: &probes
        #     enabled: true
        #     custom: true
        #     spec:
        #       httpGet:
        #         path: /jsonrpc/status
        #         port: *port
        #       initialDelaySeconds: 0
        #       periodSeconds: 10
        #       timeoutSeconds: 1
        #       failureThreshold: 3
        #   readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 8Gi
defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |-
      [{
        "name": "vpn",
        "namespace": "kube-system",
        "ips": ["192.168.90.11/24"],
        "mac": "a6:3e:4f:09:e4:9c"
      }]
  securityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

service:
  nzbget:
    controller: nzbget
    ports:
      http:
        port: *port
route:
  nzbget:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - nzbget.atoca.house
    rules:
      - backendRefs:
          - name: nzbget
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
  media:
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data/usenet
    globalMounts:
      - path: /media/Downloads/nzbget
  tmp:
    type: emptyDir
