controllers:
  authelia:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 17.6.0@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
        envFrom: &envFrom
          - secretRef:
              name: authelia-db-secret
          - secretRef:
              name: authelia-dbinit-secret
    containers:
      authelia:
        image:
          repository: ghcr.io/authelia/authelia
          tag: 4.39.13@sha256:7adc2a95b6a4be9332f6a420fdf59c7031bff203d1046ab80d8fbd66f5b1095f
        env:
          AUTHELIA_SERVER_ADDRESS: tcp://0.0.0.0:8888
          AUTHELIA_SERVER_DISABLE_HEALTHCHECK: "false"
          AUTHELIA_TELEMETRY_METRICS_ADDRESS: tcp://0.0.0.0:8080
          AUTHELIA_TELEMETRY_METRICS_ENABLED: "true"
          AUTHELIA_THEME: auto
          AUTHELIA_LOG_LEVEL: info
          X_AUTHELIA_CONFIG: /config/configuration.yaml
          X_AUTHELIA_CONFIG_FILTERS: template
        envFrom:
          - secretRef:
              name: authelia-db-secret
          - secretRef:
              name: authelia-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/health
                port: &port 8888
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            memory: 128Mi
    pod:
      annotations:
        k8s.ksgate.org/postgres-ready: |
          {
            "apiVersion": "postgres-operator.crunchydata.com/v1beta1",
            "kind": "PostgresCluster",
            "name": "postgres",
            "namespace": "crunchy-postgres-cluster",
            "expression": "has(resource.status.instances) && resource.status.instances.exists(i, i.readyReplicas >= 1)"
          }
        k8s.ksgate.org/postgres-service: |
          {
            "apiVersion": "v1",
            "kind": "Service",
            "name": "postgres-pgbouncer",
            "namespace": "crunchy-postgres-cluster"
          }

        k8s.ksgate.org/lldap-deployment: |
          {
            "apiVersion": "apps/v1",
            "kind": "Deployment",
            "name": "lldap",
            "namespace": "lldap",
            "expression": "has(resource.status.conditions) && resource.status.conditions.exists(c, c.type == 'Available' && c.status == 'True')"
          }
      schedulingGates:
        - name: k8s.ksgate.org/postgres-ready
        - name: k8s.ksgate.org/postgres-service
        - name: k8s.ksgate.org/lldap-deployment

service:
  authelia:
    controller: authelia
    ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 8888
        primary: true
      metrics:
        port: 8080
serviceMonitor:
  authelia:
    serviceName: authelia
    endpoints:
      - port: metrics
route:
  authelia:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - auth.atoca.house
    rules:
      - backendRefs:
          - name: authelia
            port: 8888
persistence:
  config:
    type: configMap
    name: authelia-configmap
    globalMounts:
      - path: /config/configuration.yaml
        subPath: configuration.yaml
        readOnly: true
  secret-files:
    enabled: true
    type: secret
    name: authelia-secret
    globalMounts:
      - path: /config/secret