controllers:
  vikunja:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 17.6.0@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
        envFrom: &envFrom
          - secretRef:
              name: vikunja-db-secret
          - secretRef:
              name: vikunja-dbinit-secret
    containers:
      vikunja:
        image:
          repository: docker.io/vikunja/vikunja
          tag: 0.24.6@sha256:ed1f3ed467fecec0b57e9de7bc6607f8bbcbb23ffced6a81f5dfefc794cdbe3b
        env:
          VIKUNJA_SERVICE_PUBLICURL: https://vikunja.atoca.house
          VIKUNJA_SERVICE_TIMEZONE: "Europe/Amsterdam"
          POSTGRES_ENABLED: "true"
          VIKUNJA_MAILER_ENABLED: true
          VIKUNJA_METRICS_ENABLED: true
          VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_NAME: true
          VIKUNJA_DEFAULTSETTINGS_EMAIL_REMINDERS_ENABLED: true
          discoverable_by_email: true
          overdue_tasks_reminders_time: '11:00'
          VIKUNJA_DEFAULTSETTINGS_WEEK_START: 1

          # Redis
          VIKUNJA_REDIS_ENABLED: false

          # postgres
          VIKUNJA_DATABASE_TYPE: postgres
        envFrom:
          - secretRef:
              name: vikunja-db-secret
          - secretRef:
              name: vikunja-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 3456
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 100m
            memory: 20Mi
          limits:
            memory: 150Mi
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
        seccompProfile: { type: RuntimeDefault }
service:
  vikunja:
    controller: vikunja
    ports:
      http:
        port: 3456
route:
  vikunja:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - vikunja.atoca.house
    rules:
      - backendRefs:
          - name: vikunja
            port: 3456
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  files:
    enabled: true
    size: 5Gi
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    globalMounts:
      - path:  /app/vikunja/files
  config:
    type: secret
    name: vikunja-secret
    globalMounts:
      - path: /etc/vikunja/config.yml
        subPath: config.yml
        readOnly: true
