controllers:
  flaresolverr:
    replicas: 1
    strategy: RollingUpdate
    containers:
      flaresolverr:
        image:
          repository: flaresolverr/flaresolverr
          tag: v3.4.5@sha256:4f4e5f759aa3a9a64305e99188ea1db1ec2944a5e7d290d2b089af5f2f6f48e4
          pullPolicy: IfNotPresent
        env:
          - name: LOG_LEVEL
            value: "info"
          - name: TZ
            value: "Europe/Amsterdam"
        resources:
          requests:
            cpu: 10m
            memory: 150Mi
          limits:
            memory: 500Mi

service:
  flaresolverr:
    controller: flaresolverr
    ports:
      http:
        primary: true
        port: 80
        targetPort: 8191
route:
  flaresolverr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - flaresolverr.atoca.house
    rules:
      - backendRefs:
          - name: flaresolverr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /