controllers:
  flaresolverr:
    containers:
      flaresolverr:
        image:
          repository: flaresolverr/flaresolverr
          tag: v3.4.4@sha256:06c76759d062c185d8ac0b48f302258645b8d99db86109a3d6dce3209d93de51
          pullPolicy: IfNotPresent
        env:
          - name: LOG_LEVEL
            value: "info"
          - name: TZ
            value: "Europe/Amsterdam"
        resources:
          requests:
            cpu: 10m
            memory: 150Mi
          limits:
            memory: 500Mi

service:
  flaresolverr:
    controller: flaresolverr
    ports:
      http:
        primary: true
        port: 80
        targetPort: 8191
route:
  flaresolverr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - flaresolverr.atoca.house
    rules:
      - backendRefs:
          - name: flaresolverr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /