controllers:
  sonarr-anime:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      sonarr-anime:
        image:
          repository: ghcr.io/home-operations/sonarr
          tag: 4.0.16.2943@sha256:0a1b8f5cb5b072f7ad8c6ff64a25dc512115d1a114ecf19a58a3b4f870207ddd
        env:
          SONARR__APP__INSTANCENAME: "Sonarr Anime"
          SONARR__APP__THEME: dark
          SONARR__AUTH__METHOD: External
          SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
          SONARR__LOG__DBENABLED: "False"
          SONARR__LOG__LEVEL: info
          SONARR__SERVER__PORT: &port 80
          SONARR__UPDATE__BRANCH: develop
          TZ: Europe/Amsterdam
        envFrom:
          - secretRef:
              name: "sonarr-anime-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 4Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

service:
  sonarr-anime:
    controller: sonarr-anime
    ports:
      http:
        port: *port

route:
  sonarr-anime:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - anime.atoca.house
    rules:
      - backendRefs:
          - name: sonarr-anime
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 3Gi
    globalMounts:
      - path: /config/

  scripts:
    type: configMap
    name: sonarr-anime-configmap
    defaultMode: 0775
    globalMounts:
      - readOnly: true
  media:
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data/
    globalMounts:
      - path: /data
  tmp:
    type: emptyDir
