---
# LoadBalancer IP Pool - 192.168.60.x network
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: home-pool
spec:
  allowFirstLastIPs: "No"  # Exclude .0 and .255
  blocks:
    - cidr: 192.168.60.0/24

---
# BGP Advertisement - advertise LoadBalancer IPs via BGP
apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: l3-bgp-advertisement
  labels:
    advertise: bgp
spec:
  advertisements:
    - advertisementType: Service
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - {key: somekey, operator: NotIn, values: ["never-used-value"]}

---
# BGP Peer Configuration
apiVersion: cilium.io/v2
kind: CiliumBGPPeerConfig
metadata:
  name: l3-bgp-peer-config
spec:
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: bgp
---
# BGP Cluster Configuration
apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: l3-bgp-cluster-config
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
  bgpInstances:
    - name: cilium
      localASN: 64514
      peers:
        - name: ucg-max
          peerASN: 64513
          peerAddress: 192.168.40.1  # Gateway IP on k8s node network
          peerConfigRef:
            name: l3-bgp-peer-config
---
# Kubernetes API LoadBalancer Service
apiVersion: v1
kind: Service
metadata:
  name: kube-api
  annotations:
    external-dns.alpha.kubernetes.io/hostname: k8s.atoca.house
    lbipam.cilium.io/ips: 192.168.60.120
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    k8s-app: kube-apiserver
    tier: control-plane
  ports:
    - port: 6443
