---
controllers:
  threadfin:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: docker.io/fyb3roptik/threadfin
          tag: 1.2.37-nvidia
        env:
          THREADFIN_BRANCH: main
          THREADFIN_DEBUG: 0
          THREADFIN_PORT: &port 34400
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 50m
            memory: 1Gi
            nvidia.com/gpu: 1
          limits:
            memory: 3Gi
            nvidia.com/gpu: 1

defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |-
      [{
        "name": "vpn",
        "namespace": "kube-system",
        "ips": ["192.168.90.18/24"],
        "mac": "6e:54:a1:7c:2b:94"
      }]
  runtimeClassName: nvidia
  nodeSelector:
    node.kubernetes.io/gpu: "true"
  securityContext:
    runAsNonRoot: true
    runAsUser: 31337
    runAsGroup: 31337
    fsGroup: 31337
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }

service:
  app:
    controller: threadfin
    ports:
      http:
        port: *port

route:
  app:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
        sectionName: https
    hostnames:
      - threadfin.atoca.house
    rules:
      - backendRefs:
          - name: threadfin
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  daconfigta:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 3Gi
    globalMounts:
      - path: /home/threadfin/conf

  tmpfs:
    type: emptyDir
    globalMounts:
      - path: /tmp
