---

controllers:
  bambuddy:
    pod:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "iot",
            "namespace": "kube-system",
            "ips": ["192.168.70.11/24"],
            "mac": "6a:9c:f1:42:8d:b3"
          }]

    containers:
      app:
        image:
          repository: ghcr.io/maziggy/bambuddy
          tag: 0.2.0@sha256:7a4f68113b8bee459898fe1be6157ae31d170126c2a10891fdd7850307dc9fe0
        env:
          PORT: &httpPort 8000
        resources:
          requests:
            cpu: 5m
            memory: 256Mi
          limits:
            memory: 1Gi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

defaultPodOptions:
  securityContext:
    fsGroup: 2000
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 2000
    runAsUser: 2000

service:
  app:
    forceRename: bambuddy
    controller: bambuddy
    ports:
      http:
        appProtocol: kubernetes.io/wss
        port: *httpPort

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /app/data
        subPath: data

  tmpfs:
    type: emptyDir
    advancedMounts:
      bambuddy:
        app:
          - path: /tmp
            subPath: tmp
          - path: /app/logs
            subPath: logs

route:
  homebridge:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - bambuddy.atoca.house
    rules:
      - backendRefs:
          - name: bambuddy
            port: *httpPort
        matches:
          - path:
              type: PathPrefix
              value: /
