serviceAccount:
  create: true
  name: external-dns

rbac:
  create: true

provider:
  name: cloudflare

env:
  - name: CF_API_KEY
    valueFrom:
      secretKeyRef:
        name: cloudflare-ed-key
        key: cloudflare_api_key
  - name: CF_API_EMAIL
    valueFrom:
      secretKeyRef:
        name: cloudflare-email
        key: cloudflare-email
sources:
  - ingress
  - gateway-httproute  # Support Gateway API HTTPRoutes

domainFilters:
  - atoca.house

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

metrics:
  enabled: true
serviceMonitor:
  enabled: true
