crds:
  enabled: true

nameOverride: "monitoring"
cleanPrometheusOperatorObjectNames: true

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi
    alertmanagerConfiguration:
      name: alertmanager
      global:
        resolveTimeout: 5m
    externalUrl: https://alertmanager.atoca.house
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 1Gi
  ingress:
    enabled: false

prometheus:
  prometheusSpec:
    externalUrl: https://prometheus.atoca.house
    image:
      registry: docker.io
      repository: prompp/prompp
      tag: 2.53.2-0.4.0-arm64
    securityContext:
      runAsNonRoot: true
      runAsUser: 64535
      runAsGroup: 64535
      fsGroup: 64535
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        #cpu: 1000m
        memory: 1Gi
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
    retention: 2d
    retentionSize: "15GB"
    walCompression: true
  ingress:
    enabled: false

prometheus-node-exporter:
  fullnameOverride: node-exporter
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      #cpu: 100m
      memory: 128Mi
  metricLabelsAllowlist:
    - pods=[*]
    - deployments=[*]
    - persistentvolumeclaims=[*]
  prometheus:
    monitor:
      enabled: true
      relabelings:
        - action: replace
          regex: (.*)
          replacement: $1
          sourceLabels:
            - __meta_kubernetes_pod_node_name
          targetLabel: kubernetes_node

kube-state-metrics:
  fullnameOverride: kube-state-metrics
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      #cpu: 100m
      memory: 128Mi
  metricLabelsAllowlist:
    - pods=[*]
    - deployments=[*]
    - persistentvolumeclaims=[*]
  prometheus:
    monitor:
      enabled: true
      relabelings:
        - action: replace
          regex: (.*)
          replacement: $1
          sourceLabels:
            - __meta_kubernetes_pod_node_name
          targetLabel: kubernetes_node

kubeProxy:
  enabled: false

grafana:
  enabled: false
  forceDeployDashboards: true
