crds:
  enabled: true

nameOverride: "monitoring"
cleanPrometheusOperatorObjectNames: true

alertmanager:
  alertmanagerSpec:
    cleanPrometheusOperatorObjectNames: true
    alertmanagerConfiguration:
      name: alertmanager
    externalUrl: https://alertmanager.atoca.house
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          resources:
            requests:
              storage: 1Gi
  ingress:
    enabled: false

kubeEtcd:
  service:
    selector:
      component: kube-apiserver

prometheus:
  prometheusSpec:
    externalUrl: https://prometheus.atoca.house
    resources:
      requests:
        cpu: 100m
      limits:
        memory: 2000Mi
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          resources:
            requests:
              storage: 50Gi
    retention: 14d
    retentionSize: "50GB"
    walCompression: true
  ingress:
    enabled: false

prometheus-node-exporter:
  fullnameOverride: node-exporter

kube-state-metrics:
  fullnameOverride: kube-state-metrics

additionalPrometheusRulesMap:
  dockerhub-rules:
    groups:
      - name: dockerhub
        rules:
          - alert: DockerhubRateLimitRisk
            annotations:
              summary: There are {{ $value }} containers pulling from Dockerhub. This may lead to rate limiting.
            expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
            labels:
              severity: critical
  oom-rules:
    groups:
      - name: oom
        rules:
          - alert: OomKilled
            annotations:
              summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
            expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
            labels:
              severity: critical
kubeProxy:
  enabled: false

grafana:
  enabled: false
  forceDeployDashboards: true
