---
controllers:
  dispatcharr:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      chown-dbdir:
        image:
          repository: docker.io/library/alpine
          tag: "3.23"
        command:
          - /bin/sh
          - -c
        args:
          - |
            mkdir -p /data/db
            chmod 0750 /data/db
        securityContext:
          runAsUser: 0
    containers:
      dispatcharr:
        image:
          repository: ghcr.io/dispatcharr/dispatcharr
          tag: 0.19.0
        env:
          CELERY_BROKER_URL: redis://dragonfly.dragonfly-cluster.svc.cluster.local:6379/7
          REDIS_HOST: dragonfly.dragonfly-cluster.svc.cluster.local
          #DISPATCHARR_ENV: aio
          DISPATCHARR_LOG_LEVEL: info
          DISPATCHARR_PORT: &port 9191
        envFrom:
          - secretRef:
              name: dispatcharr-db-secret
        resources:
          requests:
            cpu: 50m
            memory: 1Gi
            nvidia.com/gpu: 1
          limits:
            memory: 3Gi
            nvidia.com/gpu: 1

defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |-
      [{
        "name": "vpn",
        "namespace": "kube-system",
        "ips": ["192.168.90.17/24"],
        "mac": "6e:54:a1:7c:2b:90"
      }]
  hostUsers: false
  runtimeClassName: nvidia
  nodeSelector:
    node.kubernetes.io/gpu: "true"
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"

service:
  dispatcharr:
    controller: dispatcharr
    ports:
      http:
        port: *port

route:
  dispatcharr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
        sectionName: https
    hostnames:
      - dispatcharr.atoca.house
    rules:
      - backendRefs:
          - name: dispatcharr
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 3Gi
    advancedMounts:
      dispatcharr:
        dispatcharr:
          - path: /data
            subPath: data
        chown-dbdir:
          - path: /data
            subPath: data

  tmpfs:
    type: emptyDir
    advancedMounts:
      dispatcharr:
        dispatcharr:
          - path: /tmp
            subPath: tmp
