controllers:
  prowlarr:
    containers:
      prowlarr:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: 2.1.5@sha256:643220338204525524db787ff38a607261597f49d1f550694acdb3e908e2b43e
          pullPolicy: IfNotPresent
        env:
          - name: TZ
            value: "Europe/Amsterdam"
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"

service:
  prowlarr:
    controller: prowlarr
    ports:
      http:
        port: 9696

route:
  prowlarr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - prowlarr.atoca.house
    rules:
      - backendRefs:
          - name: prowlarr
            port: 9696
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  prowlarr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /config
