controllers:
  prowlarr:
    containers:
      prowlarr:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: 2.3.0@sha256:3dd3a316f60ea4e6714863286549a6ccaf0b8cf4efe5578ce3fe0e85475cb1cf
          pullPolicy: IfNotPresent
        env:
          - name: TZ
            value: "Europe/Amsterdam"
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"

service:
  prowlarr:
    controller: prowlarr
    ports:
      http:
        port: 9696

route:
  prowlarr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - prowlarr.atoca.house
    rules:
      - backendRefs:
          - name: prowlarr
            port: 9696
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  prowlarr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /config
