controllers:
  kromgo:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      kromgo:
        image:
          repository: ghcr.io/kashalls/kromgo
          tag: v0.7.4@sha256:464dfa398fc0d032cffbd8396a1993f2690917b847f6628159c6d9fe3cba9055
        env:
          PROMETHEUS_URL: http://monitoring-prometheus.monitoring.svc.cluster.local:9090
          SERVER_HOST: 0.0.0.0
          SERVER_PORT: 8080
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    seccompProfile: { type: RuntimeDefault }
service:
  kromgo:
    controller: kromgo
    ports:
      http:
        primary: true
        port: 80
        targetPort: 8080
ingress:
  kromgo:
    className: cloudflare-tunnel
    hosts:
      - host: kromgo.atoca.house
        paths:
          - path: /
            service:
              identifier: kromgo
              port: http
persistence:
  config-file:
    type: configMap
    name: kromgo-configmap
    globalMounts:
      - path: /kromgo/config.yaml
        subPath: config.yaml
        readOnly: true