controllers:
  kromgo:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      kromgo:
        image:
          repository: ghcr.io/kashalls/kromgo
          tag: v0.7.5@sha256:25df18d426e19aafa7526cd9138a6f35ca73c6ef6fcfcf9de8971c4334f6efdf
        env:
          PROMETHEUS_URL: http://kube-prometheus-stack-moni-prometheus.monitoring.svc.cluster.local:9090
          SERVER_HOST: 0.0.0.0
          SERVER_PORT: 8080
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    seccompProfile: { type: RuntimeDefault }
service:
  kromgo:
    controller: kromgo
    ports:
      http:
        primary: true
        port: 80
        targetPort: 8080
route:
  kromgo:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-external
        namespace: kube-system
    hostnames:
      - kromgo.atoca.house
    rules:
      - backendRefs:
          - name: kromgo
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  config-file:
    type: configMap
    name: kromgo-configmap
    globalMounts:
      - path: /kromgo/config.yaml
        subPath: config.yaml
        readOnly: true
