controllers:
  thelounge:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    containers:
      thelounge:
        image:
          repository: thelounge/thelounge
          tag: 4.4.3@sha256:c2aa0916203b298ffaf3a36c4eb60ef73c1006448d430e218d37840472e84e50
          pullPolicy: IfNotPresent
        env:
          - name: TZ
            value: "Europe/Amsterdam"
          - name: AUTO_UPDATE
            value: "true"
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"

service:
  thelounge:
    controller: thelounge
    ports:
      http:
        port: 9000

route:
  thelounge:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - thelounge.atoca.house
    rules:
      - backendRefs:
          - name: thelounge
            port: 9000
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  thelounge:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /var/opt/thelounge
