controllers:
  lldap:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.0.0@sha256:12df386a1609aada0f9c19bdcb8a59db7e2c08b5a91757f7115cce8c3d502568
        envFrom:
          - secretRef:
              name: lldap-db-secret
          - secretRef:
              name: lldap-dbinit-secret
    containers:
      lldap:
        image:
          repository: ghcr.io/lldap/lldap
          tag: v0.6.2@sha256:9e605a66c02514bfcffd1b67cafb1e98d50992216bb2871d7ae44622047dd09d
        env:
          TZ: Europe/Amsterdam
          LLDAP_HTTP_PORT: &port 80
          LLDAP_HTTP_URL: https://lldap.atoca.house
          LLDAP_LDAP_PORT: &ldapPort 389
        envFrom:
          - secretRef:
              name: lldap-db-secret
          - secretRef:
              name: lldap-secret
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 36M
          limits:
            memory: 128M
    pod:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: lldap
      annotations:
        k8s.ksgate.org/postgres-ready: |
          {
            "apiVersion": "postgres-operator.crunchydata.com/v1beta1",
            "kind": "PostgresCluster",
            "name": "postgres",
            "namespace": "crunchy-postgres-cluster",
            "expression": "has(resource.status.instances) && resource.status.instances.exists(i, i.readyReplicas >= 1)"
          }
        k8s.ksgate.org/postgres-service: |
          {
            "apiVersion": "v1",
            "kind": "Service",
            "name": "postgres-pgbouncer",
            "namespace": "crunchy-postgres-cluster"
          }
      schedulingGates:
        - name: k8s.ksgate.org/postgres-ready
        - name: k8s.ksgate.org/postgres-service
service:
  lldap:
    controller: lldap
    ports:
      http:
        port: *port
        primary: true
      ldap:
        port: *ldapPort
route:
  lldap:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - lldap.atoca.house
    rules:
      - backendRefs:
          - name: lldap
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  data:
    type: emptyDir