controllers:
  fusion:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      fusion:
        image:
          repository: ghcr.io/0x2e/fusion
          tag: 0.9.8@sha256:2d98a5bf0cabd6998d07fa26c63f1b742a1c33a4c926f2da1dfd7ee49e88e3e0
          pullPolicy: IfNotPresent
        env:
          PORT: &port 80
          TZ: Europe/Amsterdam
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 512Mi

service:
  fusion:
    controller: fusion
    ports:
      http:
        port: *port

route:
  fusion:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - fusion.atoca.house
    rules:
      - backendRefs:
          - name: fusion
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  fusion:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /data
