controllers:
  seerr:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      seerr:
        image:
          repository: ghcr.io/seerr-team/seerr
          tag: develop@sha256:ad97c6e15bddcaba79fb464838688c84315b382a52bec22a8ed88455c39e8735
        env:
          TZ: Europe/Amsterdam
          LOG_LEVEL: "info"
          PORT: &port 80
        # envFrom:
        #   - secretRef:
        #       name: "seerr-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/status
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 2Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  seerr:
    controller: seerr
    ports:
      http:
        port: *port
route:
  seerr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - seerr.atoca.house
    rules:
      - backendRefs:
          - name: seerr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  seerr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /app/config
  tmp:
    type: emptyDir
