controllers:
  bazarr:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      bazarr:
        image:
          repository: ghcr.io/lscr.io/linuxserver/bazarr
          tag: 1.5.3@sha256:a42fef2a5ffa1dca8714e12892ba0b8de5c6c513f1bcdb1ffe4143e715cffb45
          pullPolicy: IfNotPresent
        env:
          TZ: "Europe/Amsterdam"
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 1Gi
            cpu: 1000m
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 6767
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 6767
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
    pod:
      securityContext:
        runAsUser: 99
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
        seccompProfile:
          type: RuntimeDefault

service:
  bazarr:
    controller: bazarr
    ports:
      http:
        primary: true
        port: 80
        targetPort: 6767
        protocol: HTTP

route:
  bazarr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - bazarr.atoca.house
    rules:
      - backendRefs:
          - name: bazarr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  bazarr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config

  data:
    enabled: true
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data
    globalMounts:
      - path: /data
        readOnly: false