controllers:
  whoami:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      whoami:
        image:
          repository: containous/whoami
          tag: v1.5.0@sha256:7d6a3c8f91470a23ef380320609ee6e69ac68d20bc804f3a1c6065fb56cfa34e
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    seccompProfile: { type: RuntimeDefault }
service:
  whoami:
    controller: whoami
    ports:
      http:
        port: 80

ingress:
  whoami:
    className: cloudflare-tunnel
    hosts:
      - host: whoami.atoca.house
        paths:
          - path: /
            service:
              identifier: whoami
              port: http