---
fullnameOverride: victoria-logs
server:
  persistentVolume:
    enabled: true
    storageClassName: ceph-block
    size: 20Gi
  retentionPeriod: 14d
  route:
    enabled: true
    hostnames:
      - victoria-logs.atoca.house
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: atoca-house-internal
        namespace: kube-system
    extraRules:
      - filters:
          - type: RequestRedirect
            requestRedirect:
              path:
                type: ReplaceFullPath
                replaceFullPath: /select/vmui/
              statusCode: 302
        matches:
          - path:
              type: Exact
              value: /
  serviceMonitor:
    enabled: true
dashboards:
  enabled: true
