storageClass:
  create: true
  name: nfs-slow
  parameters:
    server: nas.internal
    share: /mnt/user/data
  mountOptions:
    - nfsvers=4.2
    - nconnect=16
    - hard
    - noatime
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
