---
controllers:
  open-webui:
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/open-webui/open-webui
          tag: v0.8.2
        env:
          # Open-webui settings
          ENABLE_OPENAI_API: "False"
          ENABLE_OLLAMA_API: "True"
          OLLAMA_BASE_URL: http://ollama.ollama.svc.cluster.local
          ENABLE_WEBSOCKET_SUPPORT: "true"
          WEBSOCKET_MANAGER: "redis"
          WEBSOCKET_REDIS_URL: "redis://dragonfly.dragonfly-cluster.svc.cluster.local:6379/5"
          SEARXNG_QUERY_URL: http://searxng.searxng.svc.cluster.local:8080/search?q=<query>
          ENABLE_RAG_WEB_SEARCH: true
          ENABLE_SEARCH_QUERY: true
          RAG_WEB_SEARCH_ENGINE: searxng
          WEBUI_URL: https://chat.atoca.house

          # Auth
          ENABLE_OAUTH_SIGNUP: "true"
          OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"
          OAUTH_PROVIDER_NAME: "Authelia"
          OPENID_PROVIDER_URL: 'https://auth.atoca.house/.well-known/openid-configuration'
          OAUTH_CLIENT_ID: 'open-webui'
          OAUTH_SCOPES: 'openid email profile groups'
          ENABLE_OAUTH_ROLE_MANAGEMENT: 'true'
          OAUTH_ALLOWED_ROLES: 'openwebui,openwebui-admin'
          OAUTH_ADMIN_ROLES: 'openwebui-admin'
          OAUTH_ROLES_CLAIM: 'groups'
          OAUTH_CODE_CHALLENGE_METHOD: 'S256'

          # Text-to-Speech Configuration
          TTS_ENGINE: "openai"
          TTS_OPENAI_API_BASE_URL: "http://kokoro.kokoro.svc.cluster.local:8880/v1"
          TTS_API_KEY: "not-needed"
          TTS_OPENAI_API_MODEL: "kokoro"
          TTS_OPENAI_API_VOICE: "af_bella"
        envFrom:
          - secretRef:
              name: open-webui-secret

        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            memory: 2Gi

service:
  app:
    ports:
      http:
        port: &port 8080

route:
  app:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - chat.atoca.house
    rules:
      - backendRefs:
          - name: open-webui
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /app/backend/data
