controllers:
  filebrowser:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      filebrowser:
        image:
          repository: ghcr.io/gtsteffaniak/filebrowser
          tag: 1.1.0-beta@sha256:b4acaedb2d29c4847ad677c7f8dc23d4762b2a545552d3d19bd0c95f362b6412
          pullPolicy: IfNotPresent
        env:
          TZ: "Europe/Amsterdam"
          FILEBROWSER_CONFIG: /config/config.yaml
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 2Gi
            cpu: 1000m
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
    pod:
      securityContext:
        runAsUser: 99
        runAsGroup: 100
        runAsNonRoot: true
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
        seccompProfile:
          type: RuntimeDefault

service:
  filebrowser:
    controller: filebrowser
    ports:
      http:
        primary: true
        port: 80
        targetPort: 8080
        protocol: HTTP

ingress:
  filebrowser:
    className: cloudflare-tunnel
    hosts:
      - host: filebrowser.atoca.house
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: filebrowser
              port: http
    tls:
      - hosts:
          - filebrowser.atoca.house
        secretName: filebrowser-tls

persistence:
  config:
    type: secret
    name: filebrowser-secret
    globalMounts:
      - path: /config
        readOnly: true

  database:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /home/filebrowser/database

  cache:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
    globalMounts:
      - path: /home/filebrowser/tmp

  media:
    enabled: true
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/media
    globalMounts:
      - path: /mnt/media
        readOnly: false
