---
controllers:
  homer:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      git-sync:
        image:
          repository: registry.k8s.io/git-sync/git-sync
          tag: v4.4.0
        args:
          - --repo=https://github.com/homarr-labs/dashboard-icons.git
          - --root=/tmp/git
          - --link=icons
          - --one-time
          - --depth=1
        resources:
          requests:
            cpu: 5m
            memory: 32Mi
          limits:
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
    containers:
      homer:
        image:
          repository: ghcr.io/bastienwirtz/homer
          tag: v25.11.1
        resources:
          requests:
            cpu: 5m
            memory: 32Mi
          limits:
            memory: 128Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5


service:
  homer:
    ports:
      http:
        port: 8080

route:
  homer:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - home.atoca.house
    rules:
      - backendRefs:
          - name: homer
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /


persistence:
  config:
    type: configMap
    name: homer-configmap
    globalMounts:
      - path: /www/assets/config.yml
        subPath: config.yml
        readOnly: true

  icons:
    type: emptyDir
    advancedMounts:
      homer:
        git-sync:
          - path: /tmp/git
        homer:
          - path: /www/assets/icons
            subPath: icons/svg
            readOnly: true
  tmp:
    type: emptyDir
    advancedMounts:
      homer:
        git-sync:
          - path: /tmp
