controllers:
  bazarr:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      bazarr:
        image:
          repository: ghcr.io/lscr.io/linuxserver/bazarr
          tag: 1.5.4@sha256:7d0a091a63889ce1e4ac4c90595ebd2c50ba5a5df7039a4f4d2be6c2aed6d4ae
          pullPolicy: IfNotPresent
        env:
          BAZARR__PORT: &port 6767
          TZ: "Europe/Amsterdam"
          PUID: "99"
          PGID: "100"
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi
        # probes:
        #   liveness: &probes
        #     enabled: true
        #     custom: true
        #     spec:
        #       httpGet:
        #         path: /health
        #         port: *port
        #       initialDelaySeconds: 0
        #       periodSeconds: 10
        #       timeoutSeconds: 1
        #       failureThreshold: 3
        #   readiness: *probes

service:
  bazarr:
    controller: bazarr
    ports:
      http:
        port: *port

route:
  bazarr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - bazarr.atoca.house
    rules:
      - backendRefs:
          - name: bazarr
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  bazarr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config

  data:
    enabled: true
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data
    globalMounts:
      - path: /data
        readOnly: false

  tmp:
    type: emptyDir
