controllers:
  multus:
    type: daemonset
    initContainers:
      cni-plugins:
        image:
          repository: ghcr.io/home-operations/cni-plugins
          tag: 1.9.0@sha256:33d3631495860fdae028df9a8509a8af91b70c41142432d7832b2c7bb76cf999
    containers:
      multus:
        image:
          repository: ghcr.io/k8snetworkplumbingwg/multus-cni
          tag: v4.2.3@sha256:54f120a6f8fede8e2da0d0fe3bed3da2c92edcb2cd895e4f382784a9a708e1b9
        args:
          - --cleanup-config-on-exit
          - --multus-cni-conf-dir=/tmp
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            memory: 32Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            add:
              - NET_ADMIN
            drop:
              - ALL
defaultPodOptions:
  hostNetwork: true
  priorityClassName: system-node-critical
  tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
rbac:
  roles:
    multus:
      type: ClusterRole
      rules:
        - apiGroups:
            - k8s.cni.cncf.io
          resources:
            - "*"
          verbs:
            - "*"
        - apiGroups:
            - ""
          resources:
            - pods
            - pods/status
          verbs:
            - get
            - update
        - apiGroups:
            - ""
            - events.k8s.io
          resources:
            - events
          verbs:
            - create
            - patch
            - update
  bindings:
    multus:
      type: ClusterRoleBinding
      roleRef:
        identifier: multus
      subjects:
        - identifier: multus
serviceAccount:
  multus: {}
persistence:
  etc-cni-net-d:
    type: hostPath
    hostPath: /etc/cni/net.d
    globalMounts:
      - path: /host/etc/cni/net.d
  opt-cni-bin:
    type: hostPath
    hostPath: /opt/cni/bin
    globalMounts:
      - path: /host/opt/cni/bin
  tmp:
    type: emptyDir
