fullnameOverride: external-dns-unifi

logLevel: &logLevel info

domainFilters:
  - atoca.house

podAnnotations:
  secret.reloader.stakater.com/reload: external-dns-unifi-secret
policy: sync

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/kashalls/external-dns-unifi-webhook
      tag: v0.8.0@sha256:fb2f74fdd0fc9fa22b95b525ccca9958715c0963d317da23b5f858858443dabe
    env:
      - name: LOG_LEVEL
        value: *logLevel
      - name: UNIFI_HOST
        value: https://10.40.0.1
      - name: UNIFI_API_KEY
        valueFrom:
          secretKeyRef:
            name: external-dns-unifi-secret
            key: external_dns_api_key
    livenessProbe:
      httpGet:
        path: /healthz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /readyz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5

resources:
  requests:
    cpu: 16m
    memory: 90M
  limits:
    memory: 90M
serviceMonitor:
  enabled: true
sources:
  - gateway-httproute
  - service
triggerLoopOnEvent: true
txtOwnerId: main
txtPrefix: "k8s."
