controllers:
  autobrr:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      autobrr:
        image:
          repository: ghcr.io/autobrr/autobrr
          tag: v1.71.0@sha256:db9794958a0f9db93059c1e9f06193a063ce3846d346d7a7c9eca607c6617c51
          pullPolicy: IfNotPresent
        env:
          AUTOBRR__HOST: 0.0.0.0
          AUTOBRR__PORT: &port 80
          AUTOBRR__METRICS_ENABLED: true
          AUTOBRR__METRICS_HOST: 0.0.0.0
          AUTOBRR__METRICS_PORT: &metricsPort 9094
          AUTOBRR__CHECK_FOR_UPDATES: false
          AUTOBRR__LOG_LEVEL: INFO
          TZ: "Europe/Amsterdam"
        envFrom:
          - secretRef:
              name: "autobrr-secret"
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        probes:
          liveness:
            enabled: true
            spec:
              periodSeconds: 30
              timeoutSeconds: 15
              failureThreshold: 5
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/healthz/readiness
                port: *port
              initialDelaySeconds: 10
              periodSeconds: 10
              timeoutSeconds: 15
              failureThreshold: 5
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 10
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 256Mi

defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |-
      [{
        "name": "vpn",
        "namespace": "kube-system",
        "ips": ["192.168.90.15/24"],
        "mac": "2e:47:b9:6c:10:5d"
      }]
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  autobrr:
    controller: autobrr
    ports:
      http:
        port: *port
      metrics:
        port: *metricsPort

serviceMonitor:
  autobrr:
    endpoints:
      - port: metrics

route:
  autobrr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - autobrr.atoca.house
    rules:
      - backendRefs:
          - name: autobrr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  autobrr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /config
  tmp:
    type: emptyDir
