controllers:
  autobrr:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      autobrr:
        image:
          repository: ghcr.io/autobrr/autobrr
          tag: v1.70.0@sha256:c691d8ddd5184c155d1732244519f0c09dc44559a7a0da14c6d0dc3edf7fcfb3
          pullPolicy: IfNotPresent
        env:
          AUTOBRR__HOST: 0.0.0.0
          AUTOBRR__PORT: &port 80
          AUTOBRR__METRICS_ENABLED: true
          AUTOBRR__METRICS_HOST: 0.0.0.0
          AUTOBRR__METRICS_PORT: &metricsPort 9094
          AUTOBRR__CHECK_FOR_UPDATES: false
          AUTOBRR__LOG_LEVEL: INFO
          TZ: "Europe/Amsterdam"
        # envFrom:
        #   - secretRef:
        #       name: "autobrr-secret"
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/healthz/liveness
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/healthz/readiness
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

service:
  autobrr:
    controller: autobrr
    ports:
      http:
        port: *port
      metrics:
        port: *metricsPort

serviceMonitor:
  autobrr:
    endpoints:
      - port: metrics

route:
  autobrr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - autobrr.atoca.house
    rules:
      - backendRefs:
          - name: autobrr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  autobrr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /config
  tmp:
    type: emptyDir
