controllers:
  sonarr:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      sonarr:
        image:
          repository: ghcr.io/home-operations/sonarr
          tag: 4.0.16.2946@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344
        env:
          SONARR__APP__INSTANCENAME: Sonarr
          SONARR__APP__THEME: dark
          SONARR__AUTH__METHOD: External
          SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
          SONARR__LOG__DBENABLED: "False"
          SONARR__LOG__LEVEL: info
          SONARR__SERVER__PORT: &port 80
          SONARR__UPDATE__BRANCH: develop
        envFrom:
          - secretRef:
              name: "sonarr-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 1Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

service:
  sonarr:
    controller: sonarr
    ports:
      http:
        port: *port

route:
  sonarr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - sonarr.atoca.house
    rules:
      - backendRefs:
          - name: sonarr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 3Gi
    globalMounts:
      - path: /config/

  scripts:
    type: configMap
    name: sonarr-configmap
    defaultMode: 0775
    globalMounts:
      - readOnly: true
  media:
    type: nfs
    server: nas.internal
    path: /mnt/user/data/
    globalMounts:
      - path: /data
  tmp:
    type: emptyDir
