apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - namespace.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.1.9 # renovate: datasource=helm depName=argo-cd registryUrl=https://argoproj.github.io/argo-helm
    releaseName: "argocd"
    namespace: argocd
    valuesFile: values.yaml
