configs:
  cm:
    statusbadge.enabled: true
    url: https://argocd.atoca.house

    repositories: |
      - url: https://github.com/guilhermewolf/atoca.house
        type: git

    resource.customizations: |
      apiextensions.k8s.io/CustomResourceDefinition:
        ignoreDifferences: |
          jsonPointers:
          - /spec/preserveUnknownFields

    resource.customizations.health.argoproj.io_Application: |
      hs = {}
      hs.status = "Progressing"
      hs.message = ""
      if obj.status ~= nil then
        if obj.status.health ~= nil then
          hs.status = obj.status.health.status
          if obj.status.health.message ~= nil then
            hs.message = obj.status.health.message
          end
        end
      end
      return hs

    kustomize.buildOptions: --enable-helm --load-restrictor LoadRestrictionsNone

  rbac:
    policy.csv: |
      g, ArgoCD Admins, role:admin
      g, ArgoCD Viewers, role:readonly

  params:
    server.insecure: "true"   # IMPORTANT: Let the edge (Envoy Gateway) terminate TLS and run argocd-server in HTTP mode behind it.

crds:
  install: true
  keep: true

redisSecretInit:
  enabled: false

dex:
  enabled: false

server:
  httproute:
    enabled: true
    hostnames:
      - argocd.atoca.house
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    annotations: {}
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /

repoServer:
  resources:
    requests:
      cpu: 600m
      memory: 256Mi
    limits:
      cpu: 2000m
      memory: 1000Mi

controller:
  resources:
    requests:
      cpu: 500m
      memory: 1000Mi
    limits:
      cpu: 1000m
      memory: 1500Mi

applicationSet:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
