---
controllers:
  shelfmark:
    containers:
      shelfmark:
        image:
          repository: ghcr.io/calibrain/shelfmark
          tag: v1.1.1@sha256:5a2ffced0d09c38083b17386f2272cfd91af9906431918a8569ed50fb273129c
        command:
          - gunicorn
        args:
          # - --log-level=debug
          - --access-logfile=-
          - --error-logfile=-
          - --worker-class=geventwebsocket.gunicorn.workers.GeventWebSocketWorker
          - --workers=1
          - -t
          - "300"
          - -b
          - 0.0.0.0:8084
          - shelfmark.main:app
        probes:
          liveness: &probe
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/health
                port: &port 8084
          readiness: *probe
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    ports:
      http:
        port: *port

route:
  app:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - shelfmark.atoca.house
    rules:
      - backendRefs:
          - name: shelfmark
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 3Gi
    globalMounts:
      - path: /config/

  nfs-nas-media:
    type: nfs
    server: nas.internal
    path: /mnt/user/data
    advancedMounts:
      shelfmark:
        shelfmark:
          - path: /bookdrop
            subPath: torrents/books
  tmpfs:
    type: emptyDir
    sizeLimit: 1Gi
    globalMounts:
      - path: /tmp
        subPath: tmp
      - path: /var/log
        subPath: var-log
