---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-unifi-secret
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns-unifi-secret
    creationPolicy: Owner
  data:
    - secretKey: external_dns_api_key
      remoteRef:
        key: Unifi Controller
        property: external_dns
        metadataPolicy: None
        conversionStrategy: Default
        decodingStrategy: None
