---
fullnameOverride: unifi-dns
provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/kashalls/external-dns-unifi-webhook
      tag: v0.8.2@sha256:7f0ddbbc83a36a2a9d762e25eef9cafcb3adf0493068a27d72ae71087eafe6f0
    env:
      - name: UNIFI_HOST
        value: https://unifi.internal
      - name: UNIFI_API_KEY
        valueFrom:
          secretKeyRef:
            name: external-dns-unifi-secret
            key: external_dns_api_key
    livenessProbe:
      httpGet:
        path: /healthz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /readyz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5

triggerLoopOnEvent: true
policy: sync

sources:
  - gateway-httproute
  - service

txtOwnerId: main

txtPrefix: k8s.main.

domainFilters:
  - atoca.house

serviceMonitor:
  enabled: true

podAnnotations:
  secret.reloader.stakater.com/reload: external-dns-unifi-secret
