---
# Node-specific configuration for node-03 (192.168.40.13)

machine:
  type: controlplane
  # Install configuration - node-03 specific disk
  install:
    diskSelector:
      model: SAMSUNG MZALQ256HBJD-00BL2
  nodeLabels:
    topology.kubernetes.io/zone: node-03
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: node-03
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: enp5s0f3u2
selector:
  match: link.driver == "r8152"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: enp2s0
selector:
  match: link.driver == "r8169"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp5s0f3u2
  - enp2s0
bondMode: active-backup
mtu: 9000
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.5
vlanID: 5
parent: bond0
mtu: 9000
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.6
vlanID: 6
parent: bond0
mtu: 9000
