---
# Node-specific configuration for node-04 (192.168.40.14)

machine:
  type: controlplane
  # Install configuration - node-04 specific disk
  install:
    diskSelector:
      size: 500GB
    image: factory.talos.dev/metal-installer/a59866333620a2b31ad4b0bfc813abb5629f852a12d41a78a2833789a0e53417:v1.12.2
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: node-04
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: enp5s0f3u2
selector:
  match: link.driver == "r8152"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: enp2s0
selector:
  match: link.driver == "r8169"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp5s0f3u2
  - enp2s0
bondMode: active-backup
mtu: 9000
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.5
vlanID: 5
parent: bond0
mtu: 9000
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.6
vlanID: 6
parent: bond0
mtu: 9000
