controllers:
  qbittorrent:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      qbittorrent:
        image:
          repository: ghcr.io/home-operations/qbittorrent
          tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
        env:
          QBT_WEBUI_PORT: &port 80
          QBT_TORRENTING_PORT: &torrentPort 51820
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v2/app/version
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 1Gi
defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |-
      [{
        "name": "vpn",
        "namespace": "kube-system",
        "ips": ["192.168.90.10/24"],
        "mac": "32:0b:d8:1f:b6:e4"
      }]
  securityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

service:
  qbittorrent:
    controller: qbittorrent
    ports:
      http:
        port: *port

route:
  qbittorrent:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - qbittorrent.atoca.house
    rules:
      - backendRefs:
          - name: qbittorrent
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /

configMaps:
  config:
    data:
      .qbt.toml: |-
        [qbittorrent]
        addr = "http://localhost:80"

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 3Gi
    globalMounts:
      - path: /config/

  tmp:
    type: emptyDir
  # scripts:
  #   type: configMap
  #   name: qbittorrent-scripts
  #   defaultMode: 0775
  #   globalMounts:
  #     - readOnly: true
  media:
    type: nfs
    server: nas.internal
    path: /mnt/user/data/torrents
    globalMounts:
      - path: /data/torrents
