controllers:
  qbittorrent:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      qbittorrent:
        image:
          repository: ghcr.io/home-operations/qbittorrent
          tag: 5.1.4@sha256:e9c2c24ad2b39fa0ee44de682bf26b14bf23cffea1de9e1f082f26caed4277f9
        env:
          TZ: Europe/Amsterdam
          QBT_WEBUI_PORT: &port 80
          QBT_TORRENTING_PORT: &torrentPort 51820
        # probes:
        #   liveness: &probes
        #     enabled: true
        #     custom: true
        #     spec:
        #       httpGet:
        #         path: /api/v2/app/version
        #         port: *port
        #       initialDelaySeconds: 0
        #       periodSeconds: 10
        #       timeoutSeconds: 1
        #       failureThreshold: 3
        #   readiness: *probes
        #   startup:
        #     enabled: true
        #     spec:
        #       failureThreshold: 30
        #       periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 4Gi
defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |-
      [{
        "name": "vpn",
        "namespace": "kube-system",
        "ips": ["192.168.90.10/24"],
        "mac": "32:0b:d8:1f:b6:e4"
      }]
  securityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: OnRootMismatch

service:
  qbittorrent:
    controller: qbittorrent
    ports:
      http:
        port: *port

route:
  qbittorrent:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - qbittorrent.atoca.house
    rules:
      - backendRefs:
          - name: qbittorrent
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /


configMaps:
  config:
    data:
      .qbt.toml: |-
        [qbittorrent]
        addr = "http://localhost:80"

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 3Gi
    globalMounts:
      - path: /config/

  config-file:
    type: configMap
    identifier: config
    globalMounts:
      - path: /config/.qbt.toml
        subPath: .qbt.toml
  tmp:
    type: emptyDir
  # scripts:
  #   type: configMap
  #   name: qbittorrent-scripts
  #   defaultMode: 0775
  #   globalMounts:
  #     - readOnly: true
  media:
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data/torrents
    globalMounts:
      - path: /data/torrents
