# Envoy Gateway configuration for atoca.house cluster
global:
  imageRegistry: mirror.gcr.io
config:
  envoyGateway:
    provider:
      type: Kubernetes
      kubernetes:
        deploy:
          type: GatewayNamespace
