image:
  repository: mirror.gcr.io/nvidia/dcgm-exporter
  tag: 4.5.1-4.8.0-distroless
extraEnv:
  - name: NVIDIA_DRIVER_CAPABILITIES
    value: "all"
  - name: NVIDIA_VISIBLE_DEVICES
    value: "all"
runtimeClassName: nvidia
resources:
  requests:
    memory: 128Mi
  limits:
    memory: 1024Mi
    nvidia.com/gpu: 1
tolerations:
  - key: nvidia.com/gpu
    operator: Exists
    effect: NoSchedule
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: extensions.talos.dev/nvidia-container-toolkit-production
              operator: Exists
serviceMonitor:
  interval: 15s
  honorLabels: true
  labels:
    prometheus: kube-prometheus-stack
