---
apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-configmap
  namespace: searxng
data:
  settings.yml: |
    ---
    use_default_settings: true

    server:
      limiter: true
      image_proxy: true
      method: GET # https://github.com/searxng/searxng/pull/3619
      public_instance: false

    search:
      autocomplete: duckduckgo
      favicon_resolver: duckduckgo
      languages:
        - all
        - en
        - en-US
      formats:
        - html
        - json

    general:
      instance_name: LDS Search

    ui:
      default_theme: simple
      infinite_scroll: true
      query_in_title: true
      results_on_new_tab: true
      static_use_hash: true
      theme_args:
        simple_style: auto

    categories_as_tabs:
      general:
      images:
      videos:
      map:

    enabled_plugins:
      - Basic Calculator
      - Hash plugin
      - Open Access DOI rewrite
      - Self Informations
      - Tracker URL remover
      - Unit converter plugin

    hostnames:
      high_priority:
        - (.*)\/blog\/(.*)
        - (.*\.)?wikipedia.org$
        - (.*\.)?github.com$
        - (.*\.)?reddit.com$
        - (.*\.)?docker.com$
        - (.*\.)?archlinux.org$
        - (.*\.)?stackoverflow.com$
        - (.*\.)?askubuntu.com$
        - (.*\.)?superuser.com$
  limiter.toml: |
    [real_ip]

    # Number of values to trust for X-Forwarded-For.

    x_for = 1

    # The prefix defines the number of leading bits in an address that are compared
    # to determine whether or not an address is part of a (client) network.

    ipv4_prefix = 32
    ipv6_prefix = 48

    [botdetection.ip_limit]

    # To get unlimited access in a local network, by default link-lokal addresses
    # (networks) are not monitored by the ip_limit
    filter_link_local = true

    # activate link_token method in the ip_limit method
    link_token = false

    [botdetection.ip_lists]

    # In the limiter, the ip_lists method has priority over all other methods -> if
    # an IP is in the pass_ip list, it has unrestricted access and it is also not
    # checked if e.g. the "user agent" suggests a bot (e.g. curl).

    block_ip = [
    ]

    pass_ip = [
      '192.168.0.0/16',      # IPv4 private network
      '10.244.0.0/16',       # Kubernetes pod network
    ]

    # Activate passlist of (hardcoded) IPs from the SearXNG organization,
    # e.g. `check.searx.space`.
    pass_searxng_org = false
