githubConfigSecret: "github-pat"
githubConfigUrl: "https://github.com/guilhermewolf/atoca.house"
controllerServiceAccount:
  namespace: arc-systems
  name: arc-systems-gha-rs-controller

maxRunners: 3
minRunners: 1

template:
  spec:
    containers:
      - name: runner
        image: ghcr.io/guilhermewolf/arm-actions-runner/arm-actions-runner:2.329.0@sha256:85902edca0cc2f62a5f326469c7bd2ad05b056f200678720c61cf05ec8b7a16d
        command: ["/home/runner/run.sh"]
        envFrom:
          - secretRef:
              name: postgres-pguser-terraform
metrics:
  controllerManagerAddr: ":8080"
  listenerAddr: ":8080"
  listenerEndpoint: "/metrics"