---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: unpoller-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: unpoller-secret
    template:
      data:
        # UP_UNIFI_DEFAULT_API_KEY: "{{ .UNIFI_API_KEY }}"
        UP_UNIFI_DEFAULT_USER: "{{ .UP_UNIFI_DEFAULT_USER }}"
        UP_UNIFI_DEFAULT_PASS: "{{ .UP_UNIFI_DEFAULT_PASS }}"
  dataFrom:
    - extract:
        key: unifi-secret
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
