---
controllers:
  unpoller:
    containers:
      app:
        image:
          repository: ghcr.io/unpoller/unpoller
          tag: v2.32.0@sha256:6cb7d05a899ee2298ca93ac66c7442a456596279eee4a777a9852e1597971830
        env:
          UP_UNIFI_DEFAULT_ROLE: unpoller
          UP_UNIFI_DEFAULT_URL: https://192.168.40.1
          UP_PROMETHEUS_HTTP_LISTEN: 0.0.0.0:80
          UP_INFLUXDB_DISABLE: true
        envFrom:
          - secretRef:
              name: "{{ .Release.Name }}-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 80
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 128Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
service:
  app:
    ports:
      http:
        port: *port
serviceMonitor:
  app:
    endpoints:
      - port: http
        interval: 2m # Unifi API only polls at 2m intervals
        scrapeTimeout: 10s
