---
fullnameOverride: headlamp
initContainers:
  - # Generate kubeconfig file. Can be removed when https://github.com/kubernetes-sigs/headlamp/issues/1826 is resolved
    command:
      - /bin/sh
      - "-c"
      - |
        kubectl config set-cluster main --server=https://kubernetes.default.svc --certificate-authority=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        kubectl config set-credentials main --token=$(cat /tmp/sa-token/token)
        kubectl config set-context main --cluster=main --user=main
        kubectl config use-context main
    env:
      - name: KUBERNETES_SERVICE_HOST
        valueFrom:
          fieldRef:
            fieldPath: status.hostIP
      - name: KUBERNETES_SERVICE_PORT
        value: "6443"
      - name: KUBECONFIG
        value: /home/headlamp/.config/Headlamp/kubeconfigs/config
    image: docker.io/rancher/shell:v0.6.2@sha256:c10d63f1b4158cf1a0fd64b166b9bf1ab166a64eec44f7fb097846cb04c323bd
    name: create-kubeconfig
    securityContext:
      capabilities:
        drop:
          - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsGroup: 1001
      runAsNonRoot: true
      runAsUser: 100
    volumeMounts:
      - mountPath: /home/headlamp/.config/Headlamp/kubeconfigs
        name: kubeconfig
      - mountPath: /tmp/sa-token
        name: sa-token
        readOnly: true
clusterRoleBinding:
  create: false
podAnnotations:
  reloader.stakater.com/auto: "true"
service:
  port: 4466
serviceAccount:
  create: false
  name: headlamp-admin
volumes:
  - name: kubeconfig
    emptyDir: {}
  - name: sa-token
    secret:
      defaultMode: 420
      secretName: headlamp-admin
volumeMounts:
  - mountPath: /home/headlamp/.config/Headlamp/kubeconfigs/config
    name: kubeconfig
    readOnly: true
    subPath: config
