controllers:
  radarr:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      radarr:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.1.0.10293@sha256:22bbf7e924dd929b756147d8110664c3e2da37c59516b249945ab1d63657be29
        env:
          RADARR__APP__INSTANCENAME: Radarr
          RADARR__APP__THEME: dark
          RADARR__AUTH__METHOD: External
          RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
          RADARR__LOG__DBENABLED: "False"
          RADARR__LOG__LEVEL: info
          RADARR__SERVER__PORT: &port 80
          RADARR__UPDATE__BRANCH: develop
          TZ: Europe/Amsterdam
        # envFrom:
        #   - secretRef:
        #       name: "radarr-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 4Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
service:
  radarr:
    controller: radarr
    ports:
      http:
        port: *port
route:
  radarr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - radarr.atoca.house
    rules:
      - backendRefs:
          - name: radarr
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config/

  media:
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data/
    globalMounts:
      - path: /data
  tmp:
    type: emptyDir
