---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus
  namespace: grafana
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  datasource:
    name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://monitoring-prometheus.monitoring.svc.cluster.local:9090
    isDefault: true
    jsonData:
      timeInterval: "1m"
    editable: true
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: alertmanager
  namespace: grafana
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  datasource:
    name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    url: http://monitoring-alertmanager.monitoring.svc.cluster.local:9093
    jsonData:
      implementation: prometheus
    editable: true
