# LoadBalancer IP Address Management configuration
# This replaces MetalLB functionality using Cilium's native LB-IPAM
---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: home-pool
spec:
  blocks:
    - start: "192.168.178.210"
      stop: "192.168.178.220"
  serviceSelector:
    matchLabels: {}  # Apply to all services
---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2-policy
spec:
  serviceSelector:
    matchLabels: {}  # Apply to all LoadBalancer services
  nodeSelector:
    matchLabels: {}  # Announce from all nodes
  interfaces:
    - ^eth0  # Raspberry Pi network interface
  externalIPs: true
  loadBalancerIPs: true
