controllers:
  prowlarr:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      prowlarr:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: 2.3.0@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
          pullPolicy: IfNotPresent
        env:
          - name: TZ
            value: "Europe/Amsterdam"
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
        envFrom:
          - secretRef:
              name: "prowlarr-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 9696
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 1Gi

defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |-
      [{
        "name": "vpn",
        "namespace": "kube-system",
        "ips": ["192.168.90.13/24"],
        "mac": "36:5c:a2:9d:4f:81"
      }]

service:
  prowlarr:
    controller: prowlarr
    ports:
      http:
        port: 9696

route:
  prowlarr:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - prowlarr.atoca.house
    rules:
      - backendRefs:
          - name: prowlarr
            port: 9696
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  prowlarr:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /config
