spegel:
  appendMirrors: true
  containerdSock: /run/containerd/containerd.sock
  containerdRegistryConfigPath: /etc/cri/conf.d/hosts
service:
  registry:
    hostPort: 29999
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 1Gi
