---
# Retrieve secrets from 1Password

- name: Retrieve 1Password token from 1Password
  ansible.builtin.command:
    cmd: "op read op://{{ op_token_id }}"
  register: onepassword_token
  changed_when: false
  no_log: true

- name: Write 1Password token to temporary file
  ansible.builtin.copy:
    content: "{{ onepassword_token.stdout }}"
    dest: /tmp/op_token.txt
    mode: '0600'
  no_log: true

- name: Retrieve 1Password credentials file from 1Password
  ansible.builtin.command:
    cmd: "op read -f --out-file /tmp/1password-credentials op://{{ op_credential_file_id }}"
  changed_when: false
  no_log: true

- name: Base64 encode credentials file
  ansible.builtin.shell:
    cmd: "cat /tmp/1password-credentials | base64 | tr -d '\\n' > /tmp/1password-credentials.json"
  changed_when: false
