name: "Labeler"

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened]
    branches: ["main"]

jobs:
  labeler:
    name: Labeler
    runs-on: ${{ github.event_name == 'pull_request_target' && 'ubuntu-latest' || 'arc-runners' }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Labeler
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
        with:
          configuration-path: .github/labeler.yaml