name: OpenTofu Apply

on:
  push:
    branches:
      - main
    paths:
      - 'infra/terraform/**/*.tf'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

defaults:
  run:
    working-directory: ./infra/terraform

jobs:
  tofu-apply:
    runs-on: arc-runners
    env:
      TF_VAR_cloudflare_api_token: ${{ secrets.TF_VAR_cloudflare_api_token }}
      TF_VAR_zone_id: ${{ secrets.TF_VAR_zone_id }}
      TF_VAR_account_id: ${{ secrets.TF_VAR_account_id }}
      TF_VAR_domain: ${{ secrets.TF_VAR_domain }}
      TF_VAR_npm_ip: ${{ secrets.TF_VAR_npm_ip }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: '18'        

      - uses: opentofu/setup-opentofu@e95ccdd20623115bfd7d47df14a3250d6066a9d0 # v1

      - name: OpenTofu Init
        id: init
        run: tofu init
        
      - name: OpenTofu Apply
        id: apply
        run: tofu apply -auto-approve
