controllers:
  qui:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      qui:
        image:
          repository: ghcr.io/autobrr/qui
          tag: v1.13.0@sha256:4a2474980f5abe4fcdc95dc40556a4ce80840c5749eb4e526c529d82ee8a43be
          pullPolicy: IfNotPresent
        env:
          QUI__HOST: 0.0.0.0
          QUI__PORT: &port 80
          QUI__LOG_LEVEL: INFO
          TZ: Europe/Amsterdam
        envFrom:
          - secretRef:
              name: "qui-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
            memory: 192Mi
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  qui:
    controller: qui
    ports:
      http:
        port: *port

route:
  qui:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-house-internal
        namespace: kube-system
    hostnames:
      - qui.atoca.house
    rules:
      - backendRefs:
          - name: qui
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  qui:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
  media:
    type: nfs
    server: nas.atoca.house
    path: /mnt/user/data/torrents
    globalMounts:
      - path: /data/torrents
