controllers:
  qui:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      qui:
        image:
          repository: ghcr.io/autobrr/qui
          tag: v1.12.0@sha256:b3b18f82f340642fc19ffb8935c112673008e7e6ae0ead5b6e8bb39c9b4462a3
          pullPolicy: IfNotPresent
        env:
          QUI__HOST: 0.0.0.0
          QUI__PORT: &port 80
          QUI__LOG_LEVEL: INFO
          TZ: Europe/Amsterdam
        envFrom:
          - secretRef:
              name: "qui-secret"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  qui:
    controller: qui
    ports:
      http:
        port: *port

route:
  qui:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: atoca-gateway
        namespace: kube-system
    hostnames:
      - qui.atoca.house
    rules:
      - backendRefs:
          - name: qui
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  qui:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
